[submodule "public/writing"]
	path = public/writing
	url = https://github.com/bi1101/ielts-science-writing
[submodule "admin/settings"]
	path = admin/settings
	url = https://github.com/bi1101/ielts-science-wp-admin.git
[submodule "public/speaking"]
	path = public/speaking
	url = https://github.com/bi1101/ielts-science-speaking.git
[submodule "public/dashboard"]
	path = public/dashboard
	url = https://github.com/bi1101/ielts-science-teacher-dashboard.git
